{% for place in places %}
	<img class="img" src="{{ asset('build/media/avatar/small/' ~ place.base.player.avatar ~ '.png') }}" alt="{{ place.base.player.avatar }}" />
	<span class="value-2">{{ place.base.player.name }}</span>
	<span class="value-1"><span class="ac_value" data-id="{{ place.base.id }}">{{ place.base.name }}</span> (secteur {{ place.system.sector.identifier }})</span>
{% endfor %}
