<div id="tools" class="fixed top-[70px] z-[1100] flex items-center">
    <twig:PlanetSelector />

    <div class="h-12 py-2 px-4 bg-gray-800 border border-gray-700 flex items-center gap-x-4">
        {{ current_player.credit|number }}

        <img src="{{ asset('images/legacy/picto/G_P_Mon_64px.png') }}" class="w-6 h-6" alt="" />
    </div>

    {% if current_player.hasCompletedTutorial %}
        <a href="#" class="h-12 py-2 px-4 flex items-center bg-gray-800 border border-gray-700">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="white">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
            </svg>
        </a>
    {% else %}
        {% set tutorial_step = current_player.stepTutorial %}
        <details class="relative marker:content-['']" name="toolbar">
            <summary class="h-12 py-2 px-4 flex items-center bg-gray-800 border border-gray-700 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="white">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path>
                </svg>

                {{ include('atoms/header/badge.html.twig', { count: current_player.stepTutorial, faction: current_player.faction}) }}
            </summary>

            <div class="absolute top-14 left-0 bg-gray-800 p-4 rounded-md w-96 z-[1000] border border-gray-600 overflow-y-auto min-h-96 max-h-[80%]">
                <div class="">
                    <twig:H3 class="">
                        <span class="">
                            {{ tutorial_step }} -
                        </span>
                        {{ tutorial_info(tutorial_step, 'title') }}
                    </twig:H3>

                    <p class="text-sm">
                        {{ tutorial_info(tutorial_step, 'description')|raw }}
                    </p>

                    <div class="">
                        <hr class="my-2">
                        <p class="font-semibold">Récompense :</p>
                        {% set credit_reward = tutorial_info(tutorial_step, 'creditReward') %}
                        {% set resource_reward = tutorial_info(tutorial_step, 'resourceReward') %}
                        {% set ship_reward = tutorial_info(tutorial_step, 'shipReward') %}
                        <ul>
                            {% if credit_reward > 0 %}
                                <li>- <span class="">{{ credit_reward }}</span> crédits</li>
                            {% endif %}

                            {% if resource_reward > 0 %}
                                <li>- <span class="">{{ resource_reward }}</span> ressources</li>
                            {% endif %}

                            {% for key in ship_reward|keys %}
                                {% set value = ship_reward[key] %}
                                {% if value > 0 %}
                                    <li>- <span class="">{{ value }}</span> {{ ('ship_categories.' ~ key ~ '.name')|trans }}{{ value|plural }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <form action="{{ path('tutorial_validatestep') }}" method="post" class="">
                    {% if current_player.stepDone is same as(true) %}
                        <twig:Button class="" type="submit" :faction="current_player.faction">
                            valider l'étape {{ tutorial_step }}
                        </twig:Button>
                    {% else %}
                        <twig:Button class="" type="submit" :faction="current_player.faction" disabled>
                            étape en cours
                        </twig:Button>
                    {% endif %}
                </form>
            </div>
        </details>
    {% endif %}
    <details class="relative marker:content-['']" name="toolbar">
        <summary class="h-12 py-2 px-4 flex items-center bg-gray-800 border border-gray-700 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="white">
                <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
            </svg>

            {% if current_player_notifications_count > 0 %}
                {{ include('atoms/header/badge.html.twig', { count: current_player_notifications_count, faction: current_player.faction }) }}
            {% endif %}
        </summary>

        <div class="absolute top-14 left-0 bg-gray-800 p-2 rounded-md w-96 z-[1000] border border-gray-600">
            <twig:H2>Notifications</twig:H2>
            {% if current_player_notifications_count > 1 %}
                <a href="{{ path('read_all_notifications') }}">tout marquer comme lu</a>
            {% endif %}

            <div class="flex flex-col divide-y divide-gray-500" data-controller="notification">
                {% if current_player_notifications_count > 0 %}
                    {% for notification in current_player_notifications %}
                        <details name="toolbar-notification">
                            <summary class="p-2 bg-gray-700 data-[read]:bg-gray-900 transition-[background-color] duration-200 ease-in cursor-pointer"
                                     data-id="{{ notification.id }}"
                                     data-action="click->notification#markAsRead"
                                 {% if notification.read is same as(true) %}data-read{% endif %}
                            >
                                <twig:H3>
                                    {{ notification.title }}
                                </twig:H3>
                            </summary>

                            <div>
                                <div class="text-sm p-2">{{ notification.content|raw }}</div>
                                <div class="text-xs float-right p-2">
                                    <a class="italic" data-ajax-target="{{ path('archive_notification', {'id': notification.id }) }}">archiver</a> ou
                                    <a class="italic" data-ajax-target="{{ path('delete_notification', {'id': notification.id }) }}">supprimer</a><br />
                                    — {{ notification.sentAt|game_date|raw }}
                                </div>
                            </div>
                        </details>
                    {% endfor %}
                {% else %}
                    <p class="text-sm">Aucune nouvelle notification.</p>
                {% endif %}
            </div>
            <a href="{{ path('communication_center') }}" class="">
                <twig:Button :faction="current_player.faction">
                    toutes vos notifications
                </twig:Button>
            </a>
        </div>
    </details>
</div>
