<twig:LayoutBox class="col-span-2">
	<header>
		<twig:H2>
			Agenda politique
		</twig:H2>
	</header>
	<section>
		{% if faction.hasElections %}
			<twig:ElectionsDashboard :faction="faction" />
		{% elseif faction.isInElection %}
			<twig:PutschDashboard :faction="faction" />
		{% endif %}

		<twig:H2 class="mt-4">
			Gouvernement actuel
		</twig:H2>

		{% set statuses = get_faction_info(faction.identifier, 'status') %}

		{% for minister in government_members %}
			<div class="player">
				<a href="{{ path('embassy', {'player': minister.id}) }}">
					<img src="{{ asset('build/media/avatar/small/' ~ minister.avatar ~ '.png') }}" alt="{{ minister.name }}" class="picto" />
				</a>
				<span class="title">{{ statuses[minister.status - 1] }}</span>
				<strong class="name">{{ minister.name }}</strong>
				<span class="experience">{{ minister.factionPoint|number }} points</span>
			</div>
		{% endfor %}

		<twig:H2 class="mt-4">
			Statistiques générales
		</twig:H2>

		<div class="grid grid-cols-2 gap-4 mt-2">
			<twig:NumberBox label="Classement général de la faction" :faction="faction" class="">
				{{ faction_ranking is not null ? faction_ranking|ranking : 'n/a' }}
			</twig:NumberBox>

			<twig:NumberBox label="Nombre de points de la faction" :faction="faction" class="">
				{{ faction.points|number }}
			</twig:NumberBox>

			<twig:NumberBox label="Richesse de la faction" :faction="faction" class="">
				{{ faction.credits|number }}
			</twig:NumberBox>

			<twig:NumberBox label="Nombre de points des territoires contrôlés" :faction="faction" class="">
				{{ sectors_count }}
			</twig:NumberBox>

			<twig:NumberBox label="Nombre de joueurs actifs" :faction="faction" class="">
				{{ active_players_count }}
			</twig:NumberBox>
		</div>
	</section>
</twig:LayoutBox>
