{% set travel_time = get_travel_time(current_planet, place)|lite_seconds %}

<div class="w-full border-l-2 border-stone-900 min-w-80">
	<div class="flex items-center justify-around p-4 border-b-2 border-stone-900">
		{% if place.type == enum('App\\Modules\\Galaxy\\Domain\\Enum\\PlaceType').Planet %}
			{% if place.player is not defined and place.type != enum('App\\Modules\\Galaxy\\Domain\\Enum\\PlaceType').Planet %}
				{% set tooltip = 'Vous ne pouvez pas attaquer une planète non-habitable' %}
			{% elseif place.type == enum('App\\Modules\\Galaxy\\Domain\\Enum\\PlaceType').Planet and place.player is not null and place.player.faction.id == current_player.faction.id %}
				{% set tooltip = 'Vous ne pouvez pas attaquer un joueur de votre faction' %}
			{% elseif place.type == enum('App\\Modules\\Galaxy\\Domain\\Enum\\PlaceType').Planet and place.player is not null and place.player.level == 1 %}
				{% set tooltip = 'Ce joueur est sous protection débutant' %}
			{% else %}
				{% set tooltip = '' %}
			{% endif %}
			<twig:PlaceAction
				data-action="click->map--action-box#chooseAction"
				data-action-id="1"
				name="Lancer un pillage"
				:disabled="can_player_attack_place(current_player, place) == false"
				:tooltip="tooltip"
				picto="images/legacy/picto/Combat.svg" />

			{% set max_bases = technologies.getTechnology(constant('App\\Modules\\Promethee\\Model\\TechnologyId::BASE_QUANTITY')) + 1 %}
			{% set total_bases = get_player_planets_count(moving_commanders) %}

			{# TODO Replace with specification #}
			{% if place.type != enum('App\\Modules\\Galaxy\\Domain\\Enum\\PlaceType').Planet %}
				{% set tooltip = 'Vous ne pouvez pas coloniser une planète non-habitable.' %}
			{% elseif place.type == enum('App\\Modules\\Galaxy\\Domain\\Enum\\PlaceType').Planet and place.player is not null and place.player.faction.id == current_player.faction.id %}
				{% set tooltip = 'Vous ne pouvez pas conquérir un joueur de votre faction.' %}
			{% elseif place.type == enum('App\\Modules\\Galaxy\\Domain\\Enum\\PlaceType').Planet and place.player is not null and place.player.level <= 3 %}
				{% set tooltip = 'Vous ne pouvez pas conquérir un joueur de niveau 3 ou inférieur.' %}
			{% elseif place.player is null and technologies.getTechnology(constant('App\\Modules\\Promethee\\Model\\TechnologyId::COLONIZATION')) == 0 %}
				{% set tooltip = 'Vous devez développer la technologie colonisation.' %}
			{% elseif place.player is not null and technologies.getTechnology(constant('App\\Modules\\Promethee\\Model\\TechnologyId::CONQUEST')) == 0 %}
				{% set tooltip = 'Vous devez développer la technologie conquête.' %}
			{% elseif total_bases >= max_bases %}
				{% set tooltip = 'Vous devez améliorer le niveau de la technologie administration étendue pour disposer de planète supplémentaire.' %}
			{% else %}
				{% set tooltip = '' %}
			{% endif %}

			<twig:PlaceAction
				data-action="click->map--action-box#chooseAction"
				data-action-id="2"
				:disabled="can_player_attack_place(current_player, place) == false"
				:name="'Lancer une ' ~ (place.player is null ? 'colonisation' : 'conquête')"
				:tooltip="tooltip"
				picto="images/map/conquer.svg" />


			{% if place.id == current_planet.id %}
				{% set tooltip = 'Vous ne pouvez pas déplacer une flotte sur votre planète de départ' %}
			{% elseif place.player is not null and place.player.faction.id != current_player.faction.id %}
				{% set tooltip = 'Vous ne pouvez donner une de vos flotte qu\'a un membre de votre faction' %}
			{% else %}
				{% set tooltip = '' %}
			{% endif %}
			<twig:PlaceAction
				data-action="click->map--action-box#chooseAction"
				data-action-id="3"
				:name="place.player is not null and place.player.id == current_planet.player.id ? 'Déplacer une flotte' : 'Donner votre flotte'"
				:tooltip="tooltip"
				:disabled="can_player_move_to_place(current_player, place, current_planet) == false"
				picto="images/legacy/picto/ships/Fleet.svg" />


			{% if place.player is not null and place.player.faction.id == current_player.faction.id %}
				{% set tooltip = 'Vous ne pouvez pas espionner un joueur de votre faction' %}
			{% elseif place.player is null and place.type != enum('App\\Modules\\Galaxy\\Domain\\Enum\\PlaceType').Planet %}
				{% set tooltip = 'Vous ne pouvez pas espionner une planète non-habitable' %}
			{% else %}
				{% set tooltip = '' %}
			{% endif %}
			<twig:PlaceAction
				data-action="click->map--action-box#chooseAction"
				data-action-id="5"
				name="Lancer un espionnage"
				:disabled="can_spy(current_player, place) == false"
				:tooltip="tooltip"
				picto="images/map/spy.svg" />
		{% endif %}
	</div>

	<div class="h-full">
		{% if place.type == enum('App\\Modules\\Galaxy\\Domain\\Enum\\PlaceType').Planet %}
			<twig:PlaceActionPanel title="Lancer un pillage" id="1" :actionUrl="path('loot', {'id': '{id}', 'placeId': place.id})">
				<twig:CommanderTile :travelTime="travel_time" :place="place">
					<twig:block name="travel_details">
						{{ parent() }}

						<twig:TravelDetail valueId="capacity" label="Soute" />
					</twig:block>
				</twig:CommanderTile>
			</twig:PlaceActionPanel>

			{% if place.player is null %}
				{% set cost = colonization_cost|number %}
				{% set action_url = path('colonize', {'id': '{id}', 'placeId': place.id}) %}
				{% set label = 'Lancer la colonisation' %}
			{% else %}
				{% set cost = conquest_cost|number %}
				{% set action_url = path('conquer', {'id': '{id}', 'placeId': place.id}) %}
				{% set label = 'Lancer la conquête' %}
			{% endif %}
			<twig:PlaceActionPanel :title="'Lancer une ' ~ (place.player is null ? 'colonisation' : 'conquête')" id="2" :actionUrl="action_url">
				<twig:CommanderTile :travelTime="travel_time" :place="place">
					<twig:block name="travel_details">
						{{ parent() }}

						<twig:TravelDetail label="Coût" :value="cost" />
					</twig:block>
				</twig:CommanderTile>
			</twig:PlaceActionPanel>

			<twig:PlaceActionPanel :title="place.player is not null and place.player.id == current_planet.player.id ? 'Déplacer une flotte' : 'Donner votre flotte'" id="3" :actionUrl="path('move_fleet', {'id': '{id}', 'placeId': place.id})">
				<twig:CommanderTile :travelTime="travel_time" :place="place">
					<twig:block name="alerts">
						{{ parent() }}

						{% if place.player is not null and place.player.id != current_player.id %}
							<twig:CommanderAlert identifier="lost-fleet" :factionIdentifier="current_player.faction.identifier">
								Attention, vous perdrez votre flotte !
							</twig:CommanderAlert>
						{% endif %}
					</twig:block>

					<twig:block name="travel_details">
						{{ parent() }}
					</twig:block>
				</twig:CommanderTile>
			</twig:PlaceActionPanel>

			<twig:PlaceActionPanel title="Lancer un espionnage" id="5">
				<div class="box-content">
					{% set prices = {
						'Impact faible': 1000,
						'Impact moyen': 2500,
						'Grand impact': 5000
					} %}

					{% for label in prices|keys %}
						{% set price = prices[label] %}
						<a href="{{ path('spy', {'planetId': place.id, price}) }}" class="spy-button">
							<span class="label text-sm">{{ label }}</span>
							<span class="price">
								{{ price|number }}
								<img src="{{ asset('build/media/resources/credit.png') }}" class="icon-color" alt="" />
							</span>
						</a>
					{% endfor %}

					<form class="spy-form flex " method="post" action="{{ path('spy', {'planetId': place.id}) }}">
						<twig:Input type="text" value="10000" name="price" min="1" max="1000000" />
						<twig:Button type="submit" :faction="current_player.faction">
							Espionner
						</twig:Button>
					</form>
				</div>
			</twig:PlaceActionPanel>
		{% endif %}
	</div>
</div>
